@model EShop.Models.Goods

@{
   Layout = "~/Views/Shared/Back_stage.cshtml";
    ViewBag.Title = "新增商品";
}

<h2>@ViewBag.Title</h2>

<hr />
<br />
@using (Html.BeginForm("Create", "Goods", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
       
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-2 col-lg-offset-1">商品分类</div>
            <div class="col-md-2">
                <select class="form-control">
                    <option>运动城</option>
                    <option>户外馆</option>
                    <option>体育馆</option>
                    <option>骑行馆</option>
                    <option>装备馆</option>
                </select>
            </div>
            <div class="col-md-3">
                <select class="form-control">
                    <optgroup label="运动城">
                        <option>跑步机</option>
                        <option>划船器</option>
                        <option>动感单车</option>
                        <option>腰腹板</option>
                    </optgroup>
                    <optgroup label="户外馆">
                        <option>登山杖</option>
                        <option>望远镜</option>
                        <option>帐篷</option>
                    </optgroup>
                    <optgroup label="体育馆">
                        <option>羽毛球</option>
                        <option>篮球</option>
                        <option>兵乓球</option>
                        <option>排球</option>
                    </optgroup>
                    <optgroup label="骑行馆">
                        <option>山地自行车</option>
                    </optgroup>
                    <optgroup label="装备馆">
                        <option>负重沙袋</option>
                        <option>护腿装备</option>
                        <option>硅胶跑步装备</option>
                    </optgroup>
                </select>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.name)
                @Html.ValidationMessageFor(model => model.name)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.image, new { @class = "control-label col-md-2" })
            <div class="col-md-10">              
              <input type = "file" style = "margin-bottom:10px;" name = "image" id = "" />
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.price, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.price)
                @Html.ValidationMessageFor(model => model.price)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.detail, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.detail,5,50,new { })
                @Html.ValidationMessageFor(model => model.detail)
            </div>
        </div>
        
        <div class="form-group">
            @* @Html.LabelFor(model => model.ID, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
               @* @Html.EditorFor(model => model.ID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="新增" class="btn btn-default" />
            </div>
        </div>
    </div>

}

<div>
    @Html.ActionLink("返回上一步", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
