@model IEnumerable<EShop.Models.Goods>

@{
    Layout = "~/Views/Shared/Back_stage.cshtml";
    ViewBag.Title = "商品信息";
}

<h2>@ViewBag.Title</h2>

<hr />
<br />@Html.ActionLink("新增", "Create")
<table class="table">
    <tr>
        <th>图像</th>
        <th>名称</th>
        <th>价格</th>
        <th>描述</th>
        <th>操作</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td><img width="50" height="50" src="@Html.DisplayFor(modelItem => item.image)" alt="images" />
        <td>@Html.DisplayFor(modelItem => item.name)</td>
        <td>@Html.DisplayFor(modelItem=>item.price)</td>
        <td>@Html.DisplayFor(modelItem => item.detail)</td>
        <td>
            @Html.ActionLink("编辑", "Edit", new { id = item.id })
            @Html.ActionLink("详细", "Details", new { id = item.id })
            @Html.ActionLink("删除", "Delete", new { id = item.id })
        </td>
    </tr>
}

</table>
