<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <meta name="description" content="The description of my page" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background:#F2F2F2;border-bottom-color:white;">
        <div class="container">
            <div class="navbar-header">
                <img src="~/Images/yundong.jpg" style="width:40px;height:30px;margin-top:20%;" />
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")                  
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
       
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>

