@{
    Layout = "~/Views/Shared/_BackLayout.cshtml";
}
@Scripts.Render("~/bundles/jquery")
<script>
	$(function () {
		$('#myTab li:eq(1) a').tab('show');
	});

	function previewFile() {
	    var preview = document.querySelector('img');
	    var file = document.querySelector('input[type=file]').files[0];
	    var reader = new FileReader();
	    reader.onloadend = function () {
	        preview.src = reader.result;
	    }
	    if (file) {
	        reader.readAsDataURL(file);
	    } else {
	        preview.src = "";
	    }
	}

</script>
<div class="row" style="position:absolute;left:0px;">
    <div class="col-md-3">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="#collapseOne">
                           后台系统管理菜单
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">@Html.ActionLink("首页", "Index", "Account")</li>
                            <li class="list-group-item">@Html.ActionLink("修改密码", "Index", "Account")</li>
                            <li class="list-group-item">@Html.ActionLink("退出系统", "Index", "Account")</li>
                        </ul>                       
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="#collapseTwo">
                            用户管理
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">@Html.ActionLink("查看用户", "Lookupusers", "Account")</li>
                            <li class="list-group-item">@Html.ActionLink("注册", "Userregister", "Account")</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="#collapseThree">
                            商品管理
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">@Html.ActionLink("商品列表", "Index", "Goods")</li>
                            <li class="list-group-item">                               
                              @Html.ActionLink("发布商品", "Create", "Goods")
                            </li>
                            <li class="list-group-item">@Html.ActionLink("已售出商品", "Index", "Goods")</li>
                            <li class="list-group-item">@Html.ActionLink("分类列表", "Classify", "Goods")</li>
                            <li class="list-group-item">
                                体验中心
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="#collapseFour">
                            订单管理
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">@Html.ActionLink("订单列表", "Index", "Order")</li>
                            <li class="list-group-item">
                                待结算订单
                            </li>
                            <li class="list-group-item">待发货订单</li>                            
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="#collapseFive">
                            @Html.ActionLink("评价管理", "Index", "Order")
                        </a>
                    </h4>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="#collapseSix">
                            @Html.ActionLink("帮助", "Index", "Order")
                        </a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container body-content">
        <div class="col-md-9">
            <section>
                @RenderBody()
            </section>
            
            @RenderSection("scripts", required: false)      
        </div>
    </div>
</div>


