@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" style="position:absolute;left:0px;">
    <div class="col-md-3">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="#collapseTwo">
                            @Html.ActionLink("首页", "Index", "Account")
                        </a>
                    </h4>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="#collapseOne">
                            用户管理
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">@Html.ActionLink("查看用户", "Lookupusers", "Account")</li>
                            <li class="list-group-item">@Html.ActionLink("注册", "Userregister", "Account")</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="#collapseThree">
                            商品管理
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">@Html.ActionLink("商品信息", "Index", "Goods")</li>
                            <li class="list-group-item">订单信息</li>
                            <li class="list-group-item">333</li>
                            <li class="list-group-item">444</li>
                            <li class="list-group-item">555</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container body-content">
        <div class="col-md-9">
            @RenderBody()           
        </div>
    </div>
</div>


